<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        
    </script>
</head>
<body>
    <p>get 방식으로 데이터 보내기</p>
    <form action="/data" method="get">
        <input type="text" name="_id"><br>
        <input type="password" name="_pass"><br>
        <input type="submit">
    </form>

    <p>post 방식으로 데이터 보내기</p>
    <form action="/data2" method="post">
        <input type="text" name="_id"><br>
        <input type="password" name="_pass"><br>
        <input type="submit">
    </form>
</body>
</html>