<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function third() {
            location.href = '/third'
        }
    </script>
    <style>
        .btn {
            border: 2px solid #000;
            color: #000;
            border-radius: 10px;
            background-color: #fff;
            cursor: pointer;
        }

        a {
            color: #000;
        }
    </style>
</head>

<body>
    <h1>Main Page</h1>
    <p><a href="/login">로그인</a></p>
    <!-- 절대경로 하이퍼링크 생성
    <a href="http://www.google.com">Google</a><br> -->
    <!-- 상대경로 하이퍼링크 -->
    <a href="/second">Second Page</a><br><br>
    <!-- javascript를 이용한 페이지 이동 -->
    <button onclick="third()" class="btn">Third Page</button>
</body>

</html>